[user]
	name = long-long-float
	email = niinikazuki@yahoo.co.jp
[core]
	editor = vim
[push]
	default = simple
[color]
	ui = auto
[alias]
	s = status
	c = commit
	a = add
	d = diff
  co = checkout
  b = branch

[merge]
  tool = unityyamlmerge

[mergetool "unityyamlmerge"]
  trustExitCode = false
  cmd = /opt/Unity/Editor/Data/Tools/UnityYAMLMerge merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
