[user]
	name = long-long-float
	email = niinikazuki@yahoo.co.jp
[core]
	editor = vim
	whitespace = cr-at-eol
	excludesfile = /home/kazuki/.gitignore_global
[push]
	default = simple
[color]
	ui = auto
[alias]
	s = status
	c = commit
	a = add
	d = diff
  co = checkout
  b = branch
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"

[merge]
  tool = unityyamlmerge

[mergetool "unityyamlmerge"]
  trustExitCode = false
  cmd = /opt/Unity/Editor/Data/Tools/UnityYAMLMerge merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
